<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.qa10Mappers.QA10LayerCollectionMapper">

	<!-- qa10_LayerCollection -->
	<insert id="insertQA10LayerCollection" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="c_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_c_idx_seq')
		</selectKey>
	</insert>

	<select id="selectLayerCollectionIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectLayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- qa10_layercollection_tables -->
	<insert id="insertQA10LayerCollectionTableCommon" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="tc_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_table_common_tc_idx_seq')
		</selectKey>
	</insert>

	<select id="selectTableCommonIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectTablesCommon" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectTablesLayer" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="selectTableLayerIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<insert id="insertQA10LayerCollectionTableLayer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="updateTableLayerID" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<!-- qa10_layercollection_blocks -->
	<insert id="insertQA10LayerCollectionBlockCommon" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="bc_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_block_common_bc_idx_seq')
		</selectKey>
	</insert>

	<select id="selectBlockCommonIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<insert id="insertQA10LayercollectionBlockPolyline"
		parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="bp_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_block_polyline_bp_idx_seq')
		</selectKey>
	</insert>

	<insert id="insertQA10LayercollectionBlockVertex" parameterType="hashmap">
		${insertQuery}
	</insert>

	<insert id="insertQA10LayerCollectionBlockEntity" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- qa10_layer_tb -->
	<select id="createQA10LayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<!-- qa10_layer -->
	<insert id="insertQA10Layer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectQA10LayerTableName" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<update id="dropQA10Layer" parameterType="hashMap">
		${dropQuery}
	</update>

	<!-- qa10_layer_metadata -->
	<insert id="insertQA10LayerMetadata" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectQA10LayerMetadataIdxs" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="updateQA10LayerMetadataLayerID" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="selectQA10LayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectQA10LayerMeata" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- qa10_layer_feature -->
	<insert id="insertQA10Feature" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectQA10Features" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectFeatureIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<delete id="deleteFeature" parameterType="hashMap">
		${deleteQuery}
	</delete>

	<select id="deleteField" parameterType="hashMap">
		${deleteQuery}
	</select>

	<select id="updateQA10LayerMetadataLayerName" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

</mapper>