<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.shpMappers.SHPLayerCollectionMapper">

	<!-- SHPLayerCollection -->
	<insert id="insertSHPLayerCollection" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="c_idx" resultType="int" order="AFTER">
			select currval('shp_layercollection_c_idx_seq')
		</selectKey>
	</insert>

	<select id="selectSHPLayerCollectionIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- SHPLayer -->
	<select id="createSHPLayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<insert id="insertSHPLayer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectSHPFeatureIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<delete id="deleteSHPFeature" parameterType="hashMap">
		${deleteQuery}
	</delete>

	<update id="deleteSHPLayerCollection" parameterType="hashMap">
		${deleteQuery}
	</update>

	<!-- SHPLayerMetadata -->
	<insert id="insertSHPLayerMetadata" parameterType="hashmap"
		useGeneratedKeys="true">
		${insertQuery}
	</insert>

	<select id="selectSHPLayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="deleteSHPLayerMetedata" parameterType="hashMap">
		${deleteQuery}
	</select>

	<update id="dropSHPLayer" parameterType="hashMap">
		${dropQuery}
	</update>

</mapper>