<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.generalization.GenLayerMapper">

	<!-- create gen_layer_tb -->
	<select id="createGenLayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<!-- insert gen_feature -->
	<select id="insertGenFeature" parameterType="hashMap">
		${insertQuery}
	</select>


</mapper>