.gb-panel, .gb-modal {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.gb-modal-background {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.gb-panel-head {
	color: #333;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 25px;
}

.gb-panel-head>button {
	display: inline-block;
	float: right;
	padding: 0;
	margin: 0;
	color: #ccc;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	color: #ccc;
}

.gb-panel-head>button>span {
	padding: 2px 8px;
}

.gb-panel-head>button :HOVER {
	color: #000;
}

.gb-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
}

.gb-table>thead>tr>th, .gb-table>thead>tr>td {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
	padding: 4px 8px;
}

.gb-text-center {
	text-align: center;
}

.gb-table>tbody>tr>th, .gb-table>tbody>tr>td, .gb-table>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

.gb-panel-body {
	padding: 2px;
}

.gb-panel-editingtool-btn {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	margin: 3px;
}

.gb-panel-editingtool-btn.active, .gb-panel-editingtool-btn:active {
	background-image: none;
	background-color: #efefef;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.gb-panel-editingtool-btn.focus, .gb-panel-editingtool-btn:focus, .gb-panel-editingtool-btn:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}