<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.ngiMappers.NGILayerCollectionMapper">

	<!-- qa20_LayerCollection -->
	<insert id="insertNGILayerCollection" parameterType="hashmap">
		${insertQuery}

		<selectKey keyProperty="c_idx" resultType="int" order="AFTER">
			select currval('qa20_layercollection_c_idx_seq')
		</selectKey>
	</insert>

	<select id="selectNGILayerCollectionIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- qa20_layer -->
	<select id="createNGILayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<insert id="insertNGILayer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<update id="dropNGILayer" parameterType="hashMap">
		${dropQuery}
	</update>

	<select id="selectAllNGIfeatures" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="selectCountAllNGIFeatures" parameterType="hashMap"
		resultType="hashMap">
		${countQuery}
	</select>

	<insert id="insertNGIFeature" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectNGIFeatureIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<delete id="deleteNGIFeature" parameterType="hashMap">
		${deleteQuery}
	</delete>

	<!-- qa20_layer_metadata -->
	<insert id="insertNGILayerMetadata" parameterType="hashmap"
		useGeneratedKeys="true">
		${insertQuery}
		<selectKey keyProperty="lm_idx" resultType="int" order="AFTER">
			select currval('qa20_layer_metadata_lm_idx_seq')
		</selectKey>
	</insert>

	<select id="selectNGILayerMetadataIdxs" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="selectNGILayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectAllNGILayerMeata" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="updateNGILayerMetadataLayerName" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateNGILayerMetadataBoundary" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="selectNGILayerTableName" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- nda_aspatial_field_def -->
	<insert id="insertNdaAspatialFieldDefs" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectNadField" parameterType="hashMap" resultType="hashMap">
		${selectQuery}
	</select>

	<select id="updateNdaAspatialField" parameterType="hashMap">
		${updateQuery}
	</select>

	<select id="selectNdaAspatialField" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- ngi_point_represent -->
	<insert id="insertPointRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectPointRepresent" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- ngi_linestring_represent -->
	<insert id="insertLineStringRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectLineStringRepresent" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- ngi_region_represent -->
	<insert id="insertRegionRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectResionRepresent" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- ngi_text_represent -->
	<insert id="insertTextRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectTextRepresent" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="deleteField" parameterType="hashMap">
		${deleteQuery}
	</select>

</mapper>