<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.qa20Mappers.QA20LayerCollectionMapper">

	<!-- qa20_LayerCollection -->
	<insert id="insertQA20LayerCollection" parameterType="hashmap">
		${insertQuery}

		<selectKey keyProperty="c_idx" resultType="int" order="AFTER">
			select currval('qa20_layercollection_c_idx_seq')
		</selectKey>
	</insert>

	<select id="selectLayerCollectionIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- qa20_layer -->
	<select id="createQA20LayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<insert id="insertQA20Layer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<update id="dropQA20Layer" parameterType="hashMap">
		${dropQuery}
	</update>

	<select id="selectCountAllFeatures" parameterType="hashMap"
		resultType="hashMap">
		${countQuery}
	</select>

	<insert id="insertFeature" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectFeatureIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<delete id="deleteFeature" parameterType="hashMap">
		${deleteQuery}
	</delete>

	<!-- qa20_layer_metadata -->
	<insert id="insertQA20LayerMetadata" parameterType="hashmap"
		useGeneratedKeys="true">
		${insertQuery}
		<selectKey keyProperty="lm_idx" resultType="int" order="AFTER">
			select currval('qa20_layer_metadata_lm_idx_seq')
		</selectKey>
	</insert>

	<!-- nda_aspatial_field_def -->
	<insert id="insertNdaAspatialFieldDefs" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- ngi_point_represent -->
	<insert id="insertPointRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- ngi_linestring_represent -->
	<insert id="insertLineStringRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- ngi_region_represent -->
	<insert id="insertRegionRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- ngi_text_represent -->
	<insert id="insertTextRepresent" parameterType="hashmap">
		${insertQuery}
	</insert>


</mapper>