<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.geolayerMappers.GeolayerMapper">

	<select id="selectEditLayerDuplicateCheck" parameterType="hashmap" resultType="int">
		select count(${nativeNameCol}) from ${metaTableName}
		where c_idx = (select c_idx from ${colTableName} where ${fileCol} = #{fileName})
		and (${nativeNameCol} =#{layerName}
		or ${currentNameCol} =#{layerName})
	</select>
</mapper>