<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.dxfMappers.DXFLayerCollectionProgressMapper">


	<!-- QA10 -->
	<insert id="insertQA10RequestState" parameterType="hashMap">
		${insertQuery}

		<selectKey keyProperty="p_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_qa_progress_p_idx_seq')
		</selectKey>
	</insert>

	<select id="selectQA10ValidateProgressPid" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="updateQA10ProgressingState" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateQA10ValidateSuccessState" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateQA10ValidateFailState" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>


	<select id="updateQA10ValidateErrLayerFail" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateQA10ValidateErrLayerSuccess" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateQA10ResponseState" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="updateQA10ErrorTableName" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="selectDXFErrorLayerTbNamesCount" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectAllQA10ValidateProgress" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<delete id="deleteQA10Progress" parameterType="hashMap">
		${deleteQuery}
	</delete>

</mapper>