<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.git.mappers.qa10Mappers.QA10LayerCollectionMapper">

	<!-- qa10_LayerCollection -->
	<insert id="insertDXFLayerCollection" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="c_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_c_idx_seq')
		</selectKey>
	</insert>

	<select id="selectDXFLayerCollectionIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectLayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<!-- qa10_layercollection_tables -->
	<insert id="insertDXFLayerCollectionTableCommon" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="tc_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_table_common_tc_idx_seq')
		</selectKey>
	</insert>

	<select id="selectTableCommonIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectTablesCommon" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectTablesLayer" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="selectTableLayerIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<insert id="insertDXFLayerCollectionTableLayer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="updateTableLayerID" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<!-- qa10_layercollection_blocks -->
	<insert id="insertDXFLayerCollectionBlockCommon" parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="bc_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_block_common_bc_idx_seq')
		</selectKey>
	</insert>

	<select id="selectBlockCommonIdxs" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectBlockCommonIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectDXFlayerBlocksCommon" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectBlockEntities" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<insert id="insertDXFLayercollectionBlockPolyline"
		parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="bp_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_block_polyline_bp_idx_seq')
		</selectKey>
	</insert>

	<insert id="insertDXFLayercollectionBlockLWPolyline"
		parameterType="hashmap">
		${insertQuery}
		<selectKey keyProperty="blp_idx" resultType="int" order="AFTER">
			select currval('qa10_layercollection_block_lwpolyline_blp_idx_seq')
		</selectKey>
	</insert>

	<insert id="insertDXFLayercollectionBlockVertex" parameterType="hashmap">
		${insertQuery}
	</insert>

	<insert id="insertDXFLayerCollectionBlockEntity" parameterType="hashmap">
		${insertQuery}
	</insert>

	<!-- qa10_layer_tb -->
	<select id="createDXFLayerTb" parameterType="hashMap">
		${createQuery}
	</select>

	<!-- qa10_layer -->
	<insert id="insertDXFLayer" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectDXFLayerTableName" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<update id="dropDXFLayer" parameterType="hashMap">
		${dropQuery}
	</update>

	<!-- qa10_layer_metadata -->
	<insert id="insertDXFLayerMetadata" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectDXFLayerMetadataIdxs" parameterType="hashMap"
		resultType="hashMap">
		${selectAllQuery}
	</select>

	<select id="updateDXFLayerMetadataLayerID" parameterType="hashMap"
		resultType="hashMap">
		${updateQuery}
	</select>

	<select id="selectDXFLayerMetadataIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectDXFLayerMeata" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<!-- qa10_layer_feature -->
	<insert id="insertDXFFeature" parameterType="hashmap">
		${insertQuery}
	</insert>

	<select id="selectDXFFeatures" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<select id="selectDXFFeatureIdx" parameterType="hashMap"
		resultType="hashMap">
		${selectQuery}
	</select>

	<delete id="deleteDXFFeature" parameterType="hashMap">
		${deleteQuery}
	</delete>

	<select id="deleteField" parameterType="hashMap">
		${deleteQuery}
	</select>

	<!-- <select id="updateQA10LayerMetadataLayerName" parameterType="hashMap" 
		resultType="hashMap"> ${updateQuery} </select> -->
</mapper>